aside{width:200px; height:auto; float:left; position:relative; position:fixed; z-index:3; background:#DC2028 top right no-repeat; height:100%; width:230px; padding:230px 0 0 0; }

.subsubject-side-link{width:170px; height:500px; float:left; position:relative; margin-top:40px; background:url(../images/shad2.png) left top no-repeat; }

/* displaying sub subjects*/

@font-face {
	font-family: 'century-gothic';
src: url('/assets/simply_css/fonts/gothic.ttf');
src: url('/assets/simply_css/fonts/gothic.otf');
}

.categories-nav, .categories-nav li ul{
list-style-type: none;
margin: 0;
padding: 0;
float:left;
width: 170px; /*WIDTH OF MAIN MENU ITEMS*/
}

.categories-nav li{
position: relative;
}

.categories-nav li a{
font: 12px century-gothic Arial, Helvetica, sans-serif;
display: block;
color:#333;
letter-spacing:1px;
width: auto;
text-align:left;
padding:8px 2px 8px 20px;
text-decoration: none;
border-bottom:1px dotted #999;
}

.categories-nav li ul{ /*SUB MENU STYLE*/
position: absolute;
width: 190px; /*WIDTH OF SUB MENU ITEMS*/
left: 0;
top: 0;
display: none;
}

.categories-nav li ul li{
float: left;
}

.categories-nav li ul a{
width:150px; /*WIDTH OF SUB MENU ITEMS - 10px padding-left for A elements */
padding:7px 2px 7px 30px;
}

.categories-nav .arrowdiv{
position: absolute;
right: 2px;
}

.categories-nav li a:visited, .categories-nav li a:active{
color:#333;
}

.categories-nav li a:hover{
color:#fff;
background:#303030;
}

.active2{
color:#ffffff;
background:#303030;
font: 12px century-gothic Arial, Helvetica, sans-serif;
display: block;
letter-spacing:1px;
width: auto;
text-align:left;
padding:8px 2px 8px 20px;
text-decoration: none;
border-bottom:1px dotted #999;
}

/* Holly Hack for IE \*/
* html .categories-nav li { float: left; height: 1%; }
* html .categories-nav li a { height: 1%; }
/* End */

/* displaying sub subjects*/

/* Flash */

.great-stories-banner{width:100%; float:left; height:300px; position:relative; text-align:left; background:#2e2e2e; }

/* Flash */
.sk-left-menu, .sk-left-menu li ul{
list-style-type: none;
margin: 0;
padding: 0;
float:left;
width: 230px; /*WIDTH OF MAIN MENU ITEMS*/
}

.sk-left-menu li{
position: relative;
}

.sk-left-menu li a{
font: 13px century-gothic, Arial, Helvetica, sans-serif;
display: block;
color:#fee2e7;
letter-spacing:1px;
width: auto;
text-align:left;
padding:6px 2px 6px 20px;
*padding:6px 2px 6px 20px;
text-decoration: none;
}

.sk-left-menu li ul{ /*SUB MENU STYLE*/
position: absolute;
width: 190px; /*WIDTH OF SUB MENU ITEMS*/
left: 0;
top: 0;
display: none;
}

.sk-left-menu li ul li{
float: left;
}

.sk-left-menu li ul a{
width:150px; /*WIDTH OF SUB MENU ITEMS - 10px padding-left for A elements */
padding:7px 2px 7px 30px;
}

.sk-left-menu .arrowdiv{
position: absolute;
right: 2px;
}

.sk-left-menu li a:visited, .sk-left-menu li a:active{
color:#fee2e7;
}

.sk-left-menu li a:hover{
color:#fee2e7;
background:#fa3858;
}

/* Holly Hack for IE \*/
* html .sk-left-menu li { float: left; height: 1%; }
* html .sk-left-menu li a { height: 1%; }
/* End */

.main-wrapper{width:1000px; height:auto; margin-bottom:60px; margin-left:auto; margin-right:auto; position:relative; }
.main-wrapper-inner{width:100%; height:auto; position:relative; padding:20px 20px 0 0; float:left; margin-left:230px;  }
.main-wrapper-inner2{width:100%; height:auto; position:relative; padding:20px 20px 0 0; float:left; margin-left:230px; background:url(assets/simply_images/bg-noise.png);}

.biography-wrapper{width:660px; height:auto; float:left; position:relative; padding:40px;}


/*tabs*/

.tabs {
    position: relative;
	width: 660px;
	float:left;
	margin-top:-68px;
}

.tabs input {
	position: absolute;
	z-index: 1000;
	width: 120px;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs input#tab-2{
	left: 200px;
}
.tabs input#tab-3{
	left: 260px;
}
.tabs input#tab-4{
	left: 360px;
}

.tabs label {
	font-size: 11px;
	position: relative;
	padding: 7px 20px;
    float: left;
	display: block;
	color: #000;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
border-left:1px solid #999;
}

.tabs label:after {
    content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.tabs input:hover + label {
	background: rgb(230,230,230); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(230,230,230,1) 0%, rgba(217,217,217,1) 50%, rgba(203,203,203,1) 51%, rgba(221,221,221,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,230,230,1)), color-stop(50%,rgba(217,217,217,1)), color-stop(51%,rgba(203,203,203,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(217,217,217,1) 50%,rgba(203,203,203,1) 51%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(217,217,217,1) 50%,rgba(203,203,203,1) 51%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(217,217,217,1) 50%,rgba(203,203,203,1) 51%,rgba(221,221,221,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(230,230,230,1) 0%,rgba(217,217,217,1) 50%,rgba(203,203,203,1) 51%,rgba(221,221,221,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */

}

.tabs label:first-of-type {
    z-index: 1;
}

.tab-label-2 {
    z-index: 1;
}

.tab-label-3 {
    z-index: 1;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + label {
    background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

	z-index: 1;
	color:#CCC
}

.clear-shadow {
	clear: both;
}

.content2 {
	position: relative;
    width: 100%;
	height:650px;
	z-index: 1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
}

.content2 div {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 10px;
	z-index: 1;
	opacity: 0;
	-webkit-transition: opacity linear 0.1s;
	-moz-transition: opacity linear 0.1s;
	-o-transition: opacity linear 0.1s;
	-ms-transition: opacity linear 0.1s;
	transition: opacity linear 0.1s;
	width: 100%;
	
}

.tabs input.tab-selector-1:checked ~ .content2 .content-1,
.tabs input.tab-selector-2:checked ~ .content2 .content-2,
.tabs input.tab-selector-3:checked ~ .content2 .content-3,
.tabs input.tab-selector-4:checked ~ .content2 .content-4 {
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}


a.biography-head:link, a.biography-head:visited
{
	font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#f24a66; text-transform:uppercase; text-decoration:none; font-weight:bold; background:#F5F5F5; padding:5px 10px 5px 10px; border-radius:6px;
}
a.biography-head:hover
{
	background:#f24a66; color:#FFF;
}

.bio-head2{font-family:century-gothic, Arial, Helvetica, sans-serif; color:#333; font-size:35px; width:245px; padding-right:30px; height:100px; border-right:1px solid #999; float:left; text-align:right; }

.bio-text{font-family:Kalinga, Arial, Helvetica, sans-serif; color:#333; font-size:14px; width:320px; padding:20px;float:left; margin-left:20px;}

/* advertising */
.advertising01{float:right; margin-top:10px; margin-bottom:-40px; margin-right:22px; position:relative; }


#gallery {
	width: 725px;
	margin: 25px auto;
}

#gallery a {
	display: block;
	float: left;
	margin-bottom: 25px;
	position: relative;
}

/*Left and Right margins to images in the middle column*/
/*This selects the 2nd, 5th and 8th elements*/
#gallery a:nth-child(3n+2) {
	margin: 0 2
	px 25px 25px;
}

#gallery a img {
	display: block;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	border:3px solid #fff;
}

/*Hover effects*/
#gallery a img:hover {
	-webkit-filter: none; 
}
/*Default state for brightness has to be specified specifically*/
#gallery a img.brightness:hover {
	-webkit-filter: brightness(0);
}

/*Default state for brightness has to be specified specifically*/
#gallery a img.brightness:hover {
	-webkit-filter: brightness(0);
}

