.biography-article{width:100%; float:left; height:1000px; position:relative; background:#FFF; background:url(simply_images/bg-noise.png); border-top:4px solid #666; }


.biography-band-bg{width:auto; margin-top:50px; float:left; z-index:2; position:absolute;}

.biography-band-title{width:180px; background:#333; float:left; font-family:century-gothic, Arial, Helvetica, sans-serif; font-size:25px; color:#F7F7F7; text-shadow: 2px 1px #000; font-weight:lighter; padding:10px 0 10px 35px;}

.biography-band-title2{width:auto; float:left;  font-family:century-gothic, Arial, Helvetica, sans-serif; font-size:25px; color:#000; text-shadow: 2px 1px #CCC; text-transform:uppercase; background:url(simply_images/bg.png); font-weight:lighter; padding:10px 15px 10px 15px;}

.biography-subtitle{height:150px; width:100%; float:left; margin-left:190px; margin-top:0px; position:relative; font-family:century-gothic, Arial, Helvetica, sans-serif; font-size:35px; background:#e0dede; z-index:1;}

.biography-box{
	width: 650px;
	padding: 10px 0 10px 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}
.biography-box p{
	width: 650px;
	font-family: Kalinga, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: justify;
	line-height: 20px;
	color: #666;
}
.biography-box p .img{float:left; margin:0 20px 20px 0; }
.biography-box p .bio-head{font-family:century-gothic, Arial, Helvetica, sans-serif; color:#333; font-size:22px; }
.biography-box a:link, a:visited{font-family:Kalinga, Arial, Helvetica, sans-serif; font-size:14px; text-align:justify; line-height:20px; color:#DC2028; text-decoration:none; }
.biography-box a:visited{font-family:Kalinga, Arial, Helvetica, sans-serif; font-size:14px; text-align:justify; line-height:20px; color:#DC2028; text-decoration:none; }
.biography-box a:hover{text-decoration:underline; }


#gallery2 {
}

#gallery2 a {
	display: block;
	float: left;
	position: relative;
}

/*Left and Right margins to images in the middle column*/
/*This selects the 2nd, 5th and 8th elements*/
#gallery2 a:nth-child(3n+2) {
}

#gallery2 a img {
	display: block;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

/*Hover effects*/
#gallery2 a img:hover {
	filter: none;
	-moz-filter: none; 
	-o-filter: none; 
	-ms-filter: none; 
	-webkit-filter: none; 
}
/*Default state for brightness has to be specified specifically*/
#gallery2 a img.brightness:hover {
	filter: brightness(0);
	-moz-filter: brightness(0);
	-o-filter: brightness(0);
	-ms-filter: brightness(0);
	-webkit-filter: brightness(0);
}


